@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 .searchResults {
     box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.1);
     position: absolute;
     left: 10px;
     top: 25em;
     background-color: #fff;
     /* background: #0a93c1;  
     background: -webkit-linear-gradient(to right, #fff, #0a93c1);  
     background: linear-gradient(to right, #fff, #0a93c1);  */
     height: 100vh;
     max-width: 490px;
     width: 100%;
     border-radius: 3px;
     overflow-y: auto;
     padding: 15px;
     margin-bottom: 7px;
     cursor: pointer;
 }

 .resultInfo:hover {
     text-decoration: underline;
 }

 .resultInfo {
     list-style: none;
     color: black;
     font-weight: bold;
     line-height: 25px;
     font-family: 'Poppins', sans-serif;
 }

 hr {
     background-color: #918f8f;
     
 }




 /* Media Queries */

 @media screen and (min-width:971px) and (max-width: 1048px) {
    .searchResults {
        width: 35%;
    }
}

@media screen and (min-width:676px) and (max-width: 970px) {
    .searchResults {
        max-width: 100vh;
        height: auto;
    }
}

@media screen and (min-width:500px) and (max-width: 675px) {
    .searchResults {
        max-width: 68vh;
        height: auto;
    }
}

/* Media Queries for Mobile */
@media screen and (max-width: 499px) {
    .searchResults {
        min-width: 100%;
        width: 54vh;
    }
}