@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}



.searchContainer {
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.1);
    height: 200px;
    width: 100%;
    max-width: 490px;
    position: relative;
    top: 40px;
    left: 10px;
    background-color: whitesmoke;
    /* background: #0a93c1;  
    background: -webkit-linear-gradient(to right, #fff, #0a93c1);  
    background: linear-gradient(to right, #fff, #0a93c1);  */
    border-radius: 3px;
}

.userInput {
    position: absolute;
    top: 28px;
    width: 456px;
    font-family: 'Poppins', sans-serif;
    padding: 5px 0px;
    text-align: center;

}

.formType {
    position: absolute;
    top: 90px;
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.distanceType {
    position: absolute;
    right: 50px;
    top: 92px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.searchBtn {
    position: absolute;
    left: 172px;
    bottom: 20px;
    padding: 3px 50px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: 1px solid black;
    transition: transform 0.5s ease-in-out;

}


.searchBtn:hover {
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    border: none;
}


/* Media Queries */

@media screen and (min-width:971px) and (max-width: 1048px) {
    .searchContainer {
        width: 35%;
    }
    .userInput {
        width: 89%;
        min-width: 200px;
    }
    .searchBtn {
        left: 95px;
    }
    .searchResults {
        width: 35%;
    }
}


@media screen and (min-width:676px) and (max-width: 970px) {
    .searchContainer {
        width: 98%;
        position: absolute;
        top: 160px;
        max-width: 100vh;
    }
    .userInput {
        left: 26%;
    }
    .searchBtn {
        left: 42%;
    }
    
}

@media screen and (min-width:500px) and (max-width: 675px) {
    .searchContainer {
        max-width: 68vh;
    }
    .userInput {
        left: 24%;
        width: 50%;
    }
    .searchBtn {
        left: 37%;
    }
    
}

/* Media Queries for Mobile */
@media screen and (max-width: 499px) {
    header {
        position: relative;
        width: 92%;

    }

    .searchContainer {
        width: 54vh;
        min-width: 100%;
    }
    .userInput {
        width: 49vh;
        min-width: 90%;
    }
    .selecterContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .searchBtn {
        left: 131px;
    }
    .distanceType {
        right: 22px;
    }
}


