* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.jumboContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    /* background: #0a93c1;  
    background: -webkit-linear-gradient(to right, #fff, #0a93c1);  
    background: linear-gradient(to right, #fff, #0a93c1);  */
    width: 98%;
    margin: 0 auto;
    padding: 10px 10px 40px 10px;
    border-radius: 5px;
    
}

.projectTitle {
    text-align: center;
}

h1 {
    text-align: center;
    color: black;
}




/* Media Queries */




/* Media Queries for Mobile */
@media screen and (max-width: 499px) {
    header {
        min-width: 100%;    
    }
    .jumboContainer {
        width: 56vh;
        min-width: 100%;
    }
}