@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.googleMaps {
    display: flex;
    position: absolute;
    justify-content: center;
    background-color: whitesmoke;
    /* background: #0a93c1;  
    background: -webkit-linear-gradient(to right, #fff, #0a93c1);  
    background: linear-gradient(to right, #fff, #0a93c1);  */
    box-shadow: -6px -15px 10px rgba(0, 0, 0, 0.1);
    right: 0;
    top: 9em;
    height: 100vh;
    border-radius: 3px;
}

#map {
    width: 50%;
    height: 50vh;
    background-color: salmon;
    margin: auto;
}


/* Media Queries */

@media screen and (min-width:971px) and  (max-width:1048px) {
    .googleMaps {
        width: 50%;
    }
}

@media screen and (min-width:500px) and (max-width: 970px) {
    .googleMaps {
        display: none;
    }
    
}


/* Media Queries for Mobile */
@media screen and (max-width: 499px) {
    .googleMaps {
        display: none;
    }
    
}
