@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.googleMaps {
   position: relative;
    background-color: #fff;
    box-shadow: -6px 8px 10px rgb(0 ,0 ,0, 0.1);
    top: -10em;
    float: right;
    height: 100vh;
    border-radius: 3px;
}

.googleMapData {
    position: absolute;
    top: 20px;
    height: 600px;
    width: 100%;
    left: 0;
    margin: 0px 15px;
    box-shadow: -6px 8px 10px rgb(0 ,0 ,0, 0.1);
}




/* #map {
    width: 50%;
    height: 50vh;
    background-color: rgb(71, 167, 119);
    margin: auto;
    position: relative;
} */




/* Media Queries */

@media screen and (min-width:971px) and  (max-width:1048px) {
    .googleMaps {
        width: 50%;
    }
}

@media screen and (min-width:500px) and (max-width: 970px) {
    .googleMaps {
        display: none;
    }
    
}


/* Media Queries for Mobile */
@media screen and (max-width: 499px) {
    .googleMaps {
        display: none;
    }
    
}
